<h1>{{ title }}</h1>
<div [style.color]="wardsColor">
    Hello {{ name }}
</div>    

<input type="text" [value]="name" (keyup.enter)="name = $event.target.value" />
<input type="text" [(ngModel)]="name" />
<button (click)="changeSuitColor()">Change Suit Color</button>

<app-customers></app-customers>

<br />

